# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build folders
build/
dist/
*.spec

# Environment variables and config
.env

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# Mac/Windows system files
.DS_Store
Thumbs.db